<h1>Editing normal_range</h1>

<%= render 'form' %>

<%= link_to 'Show', test_item_normal_range_path(@test, @item, @normal_range) %> |
<%= link_to 'Back', test_item_normal_ranges_path(@test, @item) %>
