.dashboard
  .col-md-6.left
    %h5 Recent Tests
    %span.detail
      = link_to "  + Add", new_user_test_path
  .col-md-6
    %h5 Another Dashboard Item
  .col-md-6.left.bottom
    %h5 Yet Another Item
  .col-md-6.bottom
    %h5 One more Item