// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  text-align:center;

  #top {
    width:100%;
    height:49%;
    background-image: url('vetruvian.jpg');
    //background-size: cover;
    //border-bottom: 1px solid rgb(0,59,220);
    border-bottom: 1px solid black;
  }

  h1 {
    font-size:30px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Fanwood Text;
  }

  h2 {
    font-size:40px;
    margin: 0;
    padding-top: 20px;
    color:black;  
    font-family: Fanwood Text;
  }

  h3 {
    font-family: Fanwood Text;
  }

  .form {
    //background-color: #0DFFAF;
    //background-color: rgb(246,242,232);
    background-color:black;
    color:white;
    height: 225px;
    width: 225px;
    padding: 20px;
    //border: 1px solid rgb(0,59,220);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #signup {
    display:inline;

    a {
    background-color: #0DFFAF;
    }
  }
  
  a {
    width: 85px;
    padding: 10px;
    //border: 1px solid black;
    display: inline-block;
    //background-color: #0DFFAF;
    background-color: white;
    //background-color: #FF0000;
    //background-color: rgb(0,59,220);
    color: #003bdc;
    border: 3px solid #0DFFAF;
    font-family: verdana;
    font-size: 15px;

  }

  a:visited {
    //color: #003bdc;
    color: black;

  }

  a:hover {
    //border: 1px solid #FF0000;
    //border: 1px solid rgb(0,59,220);
    text-decoration:none;
    //background-color:#0DFFAF;
  }

  #bottom{
    .col-md-5 {
      text-align: justify;
      padding: 50px;
    }
  }
}